In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN

In [20]:
rna = pd.read_excel('/content/drive/My Drive/RNA.xlsx')
rna

        GENE_NAME          정상세포           암세포
0       SNORD121B  1.000000e-08  1.000000e-08
1            HTR4  1.000000e-08  6.330350e-03
2       SNORD121A  1.000000e-08  1.000000e-08
3            HTR6  1.000000e-08  1.968280e-02
4            HTR7  2.464120e+00  2.456550e+00
...           ...           ...           ...
56834  AC113146.1  1.000000e-08  1.000000e-08
56835  AC005912.2  5.288690e-02  3.188250e-02
56836  AC005912.1  7.473340e+00  1.857000e+00
56837       AQP11  1.069900e+00  5.932970e-01
56838      OR9N1P  1.765920e-01  1.405500e-01

[56839 rows x 3 columns]

In [21]:
rna.columns = ['gene', 'normal', 'cancer']
rna['cancer'] = np.log10(rna['cancer'])
rna['normal'] = np.log10(rna['normal'])
rna

             gene    normal    cancer
0       SNORD121B -8.000000 -8.000000
1            HTR4 -8.000000 -2.198572
2       SNORD121A -8.000000 -8.000000
3            HTR6 -8.000000 -1.705913
4            HTR7  0.391662  0.390326
...           ...       ...       ...
56834  AC113146.1 -8.000000 -8.000000
56835  AC005912.2 -1.276652 -1.496448
56836  AC005912.1  0.873515  0.268812
56837       AQP11  0.029343 -0.226728
56838      OR9N1P -0.753029 -0.852169

[56839 rows x 3 columns]

In [22]:
rna = rna[(rna['cancer'] >= -8) & (rna['normal'] >=-8)]
rna.reset_index(inplace = True, drop = True)

In [16]:
feature = rna[['normal', 'cancer']]
feature

         normal    cancer
0     -8.000000 -8.000000
1     -8.000000 -2.198572
2     -8.000000 -8.000000
3     -8.000000 -1.705913
4      0.391662  0.390326
...         ...       ...
56494 -8.000000 -8.000000
56495 -1.276652 -1.496448
56496  0.873515  0.268812
56497  0.029343 -0.226728
56498 -0.753029 -0.852169

[56499 rows x 2 columns]

In [9]:
model =  DBSCAN(eps=0.5, min_samples=10)
predict=pd.DataFrame(model.fit_predict(feature))
predict.columns=['predict']

In [10]:
predict['predict'].value_counts()

 0    28423
 2    22717
 1     3657
 3     1609
-1       84
 4        9
Name: predict, dtype: int64

In [25]:
print(list(rna[predict['predict'] == -1]['gene']))

['BORCS7-ASMT', 'AC067968.1', 'SNORA50C', 'BIVM-ERCC5', 'HIST1H3J', 'AC078927.1', 'HAPLN4', 'TMEM63C', 'AC091230.1', 'CSPG4P5', 'TGFB2-OT1', 'RUNX1T1', 'SNX29P2', 'ARHGAP19-SLIT1', 'AC006001.4', 'AC008687.1', 'AC008687.7', 'SNORD3D', 'CYP3A7', 'AL121845.2', 'RF02103', 'RF02104', 'KBTBD11-OT1', 'AC008763.3', 'ZFP91-CNTF', 'AL355140.1', 'SDHAP2', 'ARL2-SNX15', 'AP005263.1', 'AC005832.4', 'AL117339.5', 'AC104532.1', 'AF254983.1', 'VN1R82P', 'AC003043.2', 'AC090114.3', 'DNAAF4-CCPG1', 'SPATS1', 'AL022318.4', 'LUZP6', 'AC093899.2', 'AC009487.3', 'AL139352.1', 'RNVU1-14', 'AC011511.4', 'AC034229.2', 'RNU6-476P', 'AC025259.3', 'TERC', 'RF00090', 'RF00019', 'AC104662.2', 'AL121722.1', 'RF00407', 'AC092139.1', 'AC012531.2', 'LINC02085', 'AL355315.1', 'RPSAP41', 'AC068234.1', 'CCR6', 'CDH6', 'RNU6-516P', 'RNU6-513P', 'CGB3', 'AL360267.1', 'GNL3LP1', 'AL031595.3', 'AC087190.3', 'AC097637.1', 'AC010326.2', 'CNR2', 'TSNAX-DISC1', 'AL049795.2', 'AC008695.1', 'RPL12P28', 'AP002748.4', 'MIR4440', 'AC131160.1', 'UGT1A1', 'UGT1A4', 'MIR4737', 'AC011447.1', 'AL034430.1']

In [14]:
predict['predict'] == -1

0        False
1        False
2        False
3        False
4        False
         ...
56494    False
56495    False
56496    False
56497    False
56498    False
Name: predict, Length: 56499, dtype: bool